# Logs
*.log

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.iml

# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.externalNativeBuild/
android/.cxx/
